a.one:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.one:visited{
    color: rgb(0, 0, 0);
}
a.one:hover{
    color: #ff4081;
}
@media (max-width: 400px){
    body{
        width: 95.2%;
    }    
    .border-1{
        border-top: 1px solid #ddd;
        position: relative;
        top: -8px;
    }
    .border{
        border: 1px solid #ddd;
        height: 57.5px;
        width: 95.1%;
        position: absolute;
        top: 0;
        z-index: -1;
        right: 7.5;
    }
}
.title{
    text-align: center;
    position: relative;
    top: 4px;
    font-size: 22px;
}
@media (min-width: 700px){
    .border{
        border: 1px solid #ddd;
        height: 53px;
        width: 98.75%;
        position: absolute;
        top: 0;
        z-index: -1;
        right: 6;
    }
}
.border-2{
    position: relative;
    top: 17px;
    width: 100%;
    height: 91.4%;
    border: 1px solid #ddd;
}