a.one:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.one:visited{
    color: rgb(0, 0, 0);
}
a.one:hover{
    color: #ff4081;
}
.title{
    text-align: center;
    position: relative;
    top: 0;
    font-size: 22px;
    border: 1px solid #ddd;
    width: 99.8%;
    height: 50px;
}
.two{
    position: relative;
    top: 9px;
}
.border{
    position: relative;
    top: -1px;
    width: 99.8%;
    height: 90.4%;
    border: 1px solid #ddd;
}