*{
    list-style: none;
}
li:hover .b{
    display: block;
}
.textbook{
    position: relative;
    top: 72px;
    left: 9px;
}
.x{
    width: 100px;
}
.a{
    position: absolute;
}
#b1{
    top: 20px;
    background-color: #ddd;
    width: 100px;
}
#a2{
    top: 100px;
}
#b2{
    top: 120px;
    opacity: inherit;
    background-color: #ddd;
    width: 100px;
}
#a3{
    top: 200px;
}
#b3{
    top: 220px;
    background-color: #ddd;
    width: 100px;
}
#a4{
    top: 300px;
}
#b4{
    top: 320px;
    background-color: #ddd;
    width: 100px;
}
.b{
    display: none;
    position: relative;
    right: 8px;
}
a.one:link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.one:visited{
    color: rgb(0, 0, 0);
}
a.one:hover{
    color: #ff4081;
}
.title{
    text-align: center;
    position: relative;
    top: 0;
    font-size: 22px;
    border: 1px solid #ddd;
    width: 99.8%;
    height: 50px;
}
.two{
    position: relative;
    top: 9px;
}
.border{
    position: relative;
    top: -1px;
    width: 99.8%;
    height: 90.4%;
    border: 1px solid #ddd;
}
@media (max-width: 400px){
    .title{
        width: 99.4%;
    }
    .border{
        width: 99.4%;
    }
}